*{margin: 0; padding: 0}
@import "fonts.scss";
$font: 'FontAwesome'; 
$black: #000000;
$blue: #02587B;
$yellow: #FFC610;
// html {
//     overflow-x: hidden;
// }
body {
    box-sizing: border-box;
    color: #000000;
    padding: 0 !important; 
    font-size: 18px;  
    line-height: 1.6;
    transition: .3s all; 
    position: relative;
    font-weight: 400 ;
    font-family: 'Questrial'; 
    // background: #F8F8F8; 
    h1, h2, h3, h4, h5, h6, p, label, ul, li, .card, a { 
        text-decoration: none !important;       
        transition: .3s all;  
        margin-bottom: 0;  
        outline: none !important;   
    }    
    a {  
        transition: .3s all !important; 
        color: #000000;
        &:hover {
            // color: $blue;     
        }    
    } 
    ul {    
    	padding: 0; 
    	margin: 0; 
    }     
    input, button {   
    	outline: none !important; 
    	box-shadow: none; 
    	transition: .3s all; 
    }
    .slick-slide {
    	height: auto;  
        img {
            display: inline;
        }
    }
    .container {
        width: 100%;
        max-width: 1200px;
    } 
    img {
        max-width: 100%;
    }
}
// .row {
//     margin: 0 -10px;
//     div[class|="col"] {
//         padding: 0 10px;
//     }
// }
@import "layer.scss";
.slick-slider {
    margin-bottom: 0;
}
.avarta {
    overflow: hidden;
    img { 
        transition: .7s all;
        &:hover {
            transition: .7s all;
            // transform: scale(1.08); 
        }
    }
}
.slick-arrow {
    display: flex;
    height: 45px;
    width: 45px;
    font-size: 24px;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    cursor: pointer;
    background: transparent;
    border: 0;
    box-shadow: 0px 0px 10px #ddd;
    color: #aaa;
    position: absolute;
    top: calc(50% - 22px);
    left: -50px;
    &.next {
        left: unset;
        right: -50px;
    }
}
.slick-dots {
    bottom: 0;
    position: unset;
    margin-top: 20px;
    button {
        display: none !important;
    }
    li {
        background: #E0E8EB;
        width: 10px;
        height: 10px;
        border-radius: 100%;
        &.slick-active {
            background: #02587B;
        }
    }
}
.b-link {
    a {
        display: inline-flex;
        align-items: center;
        color: #FFC610;
        font-size: 18px;
        height: 48px;
        border: 1px solid #FFC610;
        padding: 0 30px;
        margin-top: 30px;
        i {
            position: relative;
            margin-left: 20px;
        }
    }
} 

.banner {
    position: relative;
    background-size: cover !important;
    &:after {
        content: "";
        width: 100%;
        height: 100%;
        background: #02597B;
        opacity: .9;
        position: absolute;
        top: 0;
        left: 0;
    }
}
.caption-banner {
    color: #fff;
    position: relative;
    z-index: 1;
    display: flex;
    height: 100vh;
    align-items: center;
    .row {
        align-items: center;
    }
    h3 {
        font-weight: 400;
        font-size: 24px;
    }
    h1 {
        font-size: 52px;
        font-weight: bold;
        line-height: 1.2;
        padding: 20px 0;
    }
    .desc {
        font-size: 18px;
    }
}

.commitment {
    background-size: cover !important;
    padding: 110px 0;
}
.title-comm {
    h2 {
        font-size: 32px;
        color: #FFC610;
        font-weight: bold;
        position: relative;
        margin-bottom: 80px;
    }
}
.item-comm {
    background: #fff;
    height: 100%;
    box-shadow: 0px 10px 40px rgba(224, 224, 224, 0.4);
    border-radius: 20px;
    padding: 0 15px 15px 15px;
    .avarta {
        position: relative;
        top: -30px;
        img {
            max-height: 160px;
        }
    }
    h3 {
        font-weight: bold;
        color: #02587B;
        margin-bottom: 15px;
    }
    .desc {
        color: #02587B;
    }
}
.btn-comm {
    padding: 20px 0 10px 0;
    a {
        display: inline-flex;
        width: 43px;
        height: 43px;
        background: #fff;
        border: 1px solid #5cb4c2;
        border-radius: 100%;
        color: #5cb4c2;
        justify-content: center;
        align-items: center;
    }
}

.box-about {
    position: relative;
}
.caption-about {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    color: #fff;
    padding: 90px 0;
    h2 {
        font-size: 52px;
        font-weight: bold;
        margin-bottom: 30px;
    }
    .desc {
        text-align: justify;
    }
} 

.box-product {
    padding: 60px 0;
    .title {
        align-items: center;
        justify-content: space-between;
        margin-bottom: 40px;
        h2 {
            color: #02587B;
            font-size: 32px;
            font-weight: bold;
            display: flex;
            align-items: center;
            img {
                margin-right: 15px
            }
        }
        a {
            color: #5CB4C2;
        }
    }
}
.slide-prd {
    margin: 0 -15px;
}
.item-slide {
    padding: 0 15px;
}
.item-prd {
    height: 100%;
    border-radius: 16px 16px 0 0;
    overflow: hidden;
    .avarta {
        margin-bottom: 30px;
        position: relative;
        .icon-info {
            position: absolute;
            top: 15px;
            right: 15px;
        }
    }
    .info {
        h3 {
            align-items: center;
            justify-content: space-between;
            margin-bottom: 15px;
            a {
                color: #081F32;
                font-size: 24px;
                flex-wrap: 600;
            }
        }
    }
    li {
        margin-right: 0 !important;
    }
    .desc {
        font-size: 16px;
        color: #6E798C;
        margin-bottom: 20px;
    }
}
.button-price {
    display: flex;
    justify-content: space-between;
    .price {
        del {
            font-size: 14px;
            color: #C4C4C4;
            display: block;
            line-height: 1;
        }
        span {
            font-size: 26px;
            font-weight: bold;
            color: $blue;
        }
    }
}
.btn-buy {
    a {
        font-size: 14px;
        color: #04281D;
        font-weight: bold;
        height: 44px;
        background: $yellow;
        display: inline-flex;
        align-items: center;
        padding: 0 20px;
        border-radius: 5px;
    }
}
.qc {
    .container-fluid {
        padding: 0;
        .row {
            margin: 0;
        }
        .col-md-6 {
            padding: 0;
        }
    }
}

.box-new-home {
    padding: 60px 0;
    background: #E5E5E5;
}
.slide-new-home {
    margin: 0 -15px;
}
.item-new {
    height: 100%;
    background: #fff;
    overflow: hidden;
    border-radius: 20px;
    .info {
        padding: 15px;
    }
    .info-top {
        font-size: 11px;
        color: #6E798C;
        justify-content: space-between;
        align-items: center;
        list-style: none;
        margin-bottom: 10px;
    }
    h3 {
        a {
            display: block;
            font-size: 20px;
            color: #081F32;
            margin-bottom: 6px;
        }
    }
    .desc {
        font-size: 13px;
        color: #374A59;
        margin-bottom: 10px;
    }
    .info-bot {
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: #5CB4C2;
        font-size: 11px;
        a {
            color: #5CB4C2;
        }
    }
    .user {
        display: flex;
        align-items: center;
        img {
            margin-right: 10px;
        }
    }
}

.box-partner {
    padding: 0 0 60px 0;
    background: #e5e5e5;
    .title-part {
        color: #8C97AC;
        margin-bottom: 30px;
    }
}

.story {
    position: relative;
}
.caption-story {
    position: absolute;
    color: #fff;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    .info {
        max-width: 620px;
        margin: 0 auto;
    }
    h3 {
        font-size: 58px;
        font-weight: 700;
        line-height: 1.1;
    }
    p {
        font-size: 16px;
        padding: 40px 0;
    }
}
.btn-story {
    a {
        font-size: 16px;
        color: #fff;
        display: inline-flex;
        height: 70px;
        background: $yellow;
        align-items: center;
        padding: 0 40px;
        border-radius: 10px;
    }
}

.box-number {
    padding: 120px 0;
}
.ab-detail {
    padding: 60px 0;
    .detail {
        color: #02587B;
        text-align: justify;
        p {

        }
    }
}
.content-numb {
    color: #fff;
    p {
        margin-bottom: 30px;
        &:last-child {
            margin-bottom: 0;
        }
    }
}
.list-numb {
    margin-bottom: 30px;
}
.item-numb {
    h3 {
        font-size: 36px;
        font-weight: 700;
        color: $yellow;
        margin-bottom: 4px;
    }
}

@import "product.scss";

.date-new {
    background: #fff;
    position: absolute;
    top: 10px;
    left: 10px;
    width: 50px;
    height: 54px;
    border-radius: 5px;
    text-align: center;
    span {
        font-size: 16px;
        color: #333B69;
        font-weight: 500;
        display: block;
        line-height: 1;
        position: relative;
        top: 12px;
    }
    label {
        font-size: 10px;
        color: #333B69;
        font-weight: 500;
        position: relative;
        top: 5px;
    }
}

.new-big {
    position: relative;
    h1 {
        a {
            font-size: 30px;
            display: block;
            color: #fff;
            font-weight: 700;
        }
    }
}
.info-news {
    padding: 30px;
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    color: #fff;
    font-size: 14px;
    ul {
        padding: 10px 0;
        li {
            padding-right: 15px;
            &:last-child {
                padding-right: 0;
            }
            img {
                position: relative;
                margin-right: 5px;
            }
        }
    }
}
.new-small {
    position: relative;
    .avarta {
        margin-bottom: 10px;
    }
    h3 {
        a {
            color: #333B69;
            display: block;
            font-weight: 600;
            font-size: 22px;
        }
    }
}
.new-small {
    height: 100%;
    border-radius: 5px;
    overflow: hidden;
    filter: drop-shadow(0px 0.914063px 5.48438px rgba(61, 65, 84, 0.15));
    border: 1px solid #ebebeb;
    .info-news {
        padding: 10px;
        position: relative;
        color: #6A798C;
    }
}
.list-news {
    .col-md-4, .col-md-8 {
        margin-top: 30px;
    }
}
.pagination-new {
    padding-top: 40px;
    li {
        margin-right: 0 !important;
    }
    a {
        display: flex;
        width: 36px;
        height: 36px;
        font-size: 14px;
        align-items: center;
        justify-content: center;
        color: #6A798C;
        border-radius: 5px;
        border: 1px solid #ddd;
        &.active, &:hover {
            background: #132B5E;
            color: #fff;
        }
    }
}
#news {
    padding: 60px 0;
}

.other-news {
    padding: 60px 0;
}
.title-other {
    font-size: 21px;
    color: #333B69;
    font-weight: 700;
    margin-bottom: 20px;
}
.item-other {
    height: 100%;
    border-radius: 10px;
    overflow: hidden;
    border: 1px solid #ebebeb;
    .info {
        padding: 15px 10px;
        a {
            display: block;
            color: #333B69;
            font-size: 18px;
            font-weight: 700;
        }
    }
}

.slide-qc {
    .slick-arrow {
        left: 10px;
        z-index: 2;
        &.next {
            right: 10px;
            left: unset;
        }
    }
}

.modal-contact {
    .modal-dialog {
        max-width: 1000px;
    }
    .modal-body {
        padding: 40px 40px 10px 40px;
    }
    .form-ct {
        padding: 0 15px;
    }
    .title-popup {
        h3 {
            font-weight: bold;
            font-size: 20px;
            margin-bottom: 30px;
        }
    }
}

#bread {
    background: #ebebeb;
    padding: 12px 0;
    font-size: 15px;
    li {
        position: relative;
        padding-right: 15px;
        &:after {
            content: "/";
            position: absolute;
            top: 0;
            right: 0;
        }
        &:last-child {
            padding-right: 0;
            &:after {
                display: none;
            }
        }
    }
}

@import "_productdiff.scss";